<html>
<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginstyle.css">

</head>
<body>

<div class="loginbox">
    <img src="/images/avatar.png" class="avatar">
    <h1>Login Here</h1>
    <h5 style="color:red">Invalid login, please try again</h5>
    <form action="/check" method="post">
        <p>Username</p>
        <input type="text" name="eid" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="psd" placeholder="Enter Password">
        <p>

            <input type="checkbox">Remember Username


        </p>
        <input type="submit" name="" value="Login">
        <a href="#">Forgotten your password?</a><br>

    </form>

</div>


</body>

</html>